.content {
  display: grid;
  gap: 1em;
}
h1, h2, h3 {
  font-family: 'Dancing Script', cursive;
}
p {
  font-family: 'Garamond', serif;
  padding: 1em;
  color: white;
}
html {
  background-color: #2c497f;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
.headerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.banner {
  background-color: #5bc0be;
}
.logo img {
  max-width: 60px;
}
.logo {
  margin-left: 4em;
  grid-column: 1/2;
}
header, footer {
    color: #2c497f;
    background-color:#ffe57e;
    padding: 1em;
}
.name {
  text-align: center;
  grid-column: 2/4;
}
.socialMedia img {
  max-width: 40px;
}
.socialMedia {
grid-column: 4/5;
list-style-type: none;
}
#date {
  
  grid-column: 1/5;
  padding: 2em;
  text-align: center;
  background-color: #ffa971;
}
main {
    color: #2c497f;
}
#hamburgerMenu {
    background: transparent;
    border: 1px solid #ffa971;
    font-size: 2rem;
    color: #ffa971;
    position: absolute;
    right: 5px;
    top: 35px;
    margin-right: 1em;
    font-size: 20px;
}
nav {
    background-color: transparent;
    color: #2c497f;
    text-align: center;
    grid-column: 1/5;
}
nav ul {
  display: flex;
justify-content: space-between;
font-family: 'Garamond', serif;
display: none;
}
nav ul li {
  padding: 15px;
  display: flex;
flex: 1 1 auto;
}
nav ul li a {
padding: 15px;
color: #2c497f;
font-size: 20px;
}
nav ul li.active a {
  background-color: #ffa971;
}
nav a:hover {
  color: #5bc0be;
}
nav ul.open {
  display: block;
}
nav button.open {
border: 1px solid #5bc0be;
}
#hamburgerMenu span:nth-child(1) {
  display: block;
}
#hamburgerMenu span:nth-child(2) {
  display: none;
}
#hamburgerMenu.open span:nth-child(1) {
  display: none;
}
#hamburgerMenu.open span:nth-child(2) {
  display: block;
}
a:link {
  text-decoration: none;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
.mainContent {
  display: grid;
}
.hero {
 padding: 0;
 position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
}
.welcome {
  position: absolute;
  text-align: left;
  color: #ffffff;
  padding-left: 2em;
  padding-top: 1em;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  margin-top: -10em;
}
.hero .joinBtn1 {
  position: absolute;
  bottom: .7rem;
  right: .7rem;
  background-color: #ffe57e;
  border: none;
  border-radius: 10px;
  color: #2c497f;
  font-size: 1.5rem;
  width: 50%;
  padding: .5rem;
  text-align: center;
}
.joinBtn2 {
  margin-top: 1rem;
  background-color: #ffe57e;
  border: none;
  border-radius: 10px;
  color: #5bc0be;
  font-size: 1.5rem;
  padding: .5rem;
  margin-right: .75em;
}

.join-chamber {
 background-color: #ffe57e;
 color: #ffa971;
 font-size: 20px;
 font-family: 'Garamond', Serif;
 padding: .25em;
 position: absolute;
 margin-left: 15em;
 margin-top: 7em;
 text-align: left;
}
.event {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  border-style: solid;
  height: 13em;
  padding-top: 1em;
  padding-left: 1em;
  background-color: #2c497f;
  color: #5bc0be;
  text-align: center;
  }
  .event p {
    color: #ffffff;
  }
  .weather {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    border-style: solid;
    height: 13em;
    padding-top: 1em;
    padding-left: 1em;
    background-color: #2c497f;
    color: #5bc0be;
    text-align: center;
    }
    .weather img {
      float: left;
    }
    .weather p {
      color:#ffffff;
      margin-top: -7px;
      float: right;
      text-align: left;
    }
    #current-temp {
      font-size: 30px;
    }
    .output {
      color:#ffffff
    }
    .speed {
      color:#ffffff;
    }
    .news {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 4fr;
      border-style: solid;
      height: 13em;
      padding-top: 1em;
      padding-left: 1em;
      background-color: #2c497f;
      color: #5bc0be;
      text-align: center;
      }
      .news p {
        color:#ffffff;
      }
      .place-holder {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 5fr;
        border-style: solid;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        background-color: #2c497f;
        color: #5bc0be;
        text-align: center;
      }
        .place-holder p {
          color: #ffffff;
        }
        .place-holder div:nth-child(3) {
          display: none;
        }
        .place-holder div {
          border: solid;
          margin: 0;
          padding: 1em;
          padding-bottom: 0px;
        }
        .auto img {
          width: 100px;
          height: 100px;
        }
        .join {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 6fr;
          border-style: solid;
          height: 9em;
          padding-top: 1em;
          padding-left: 1em;
          display: none;
          background-color: #2c497f;
          color: #5bc0be;
          text-align: center;
          }
          .join-us {
            padding: 2px;
            background-color: #ffe57e;
            align-content: center;
          }
          .join p {
            color: #ffffff;
          }
          footer img {
            width: 60px;
          }
          footer {
            text-align: center;
            list-style-type: none;
          }
          .announcement {
            background-color: #5bc0be;
            color: #2c497f;
            font-size: 20px;
          }
          main.gallery {
            background-attachment: fixed;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 80px;
            grid-auto-rows: 400px;
            justify-items: center;
            align-items: center;
            grid-gap: 20px;
}
        main.gallery h2 {
            margin-top: 1.25em;
            grid-column: 1 / -1;
        }
        main.gallery picture {
          object-fit: cover;
          object-position: center;
          transition: all 0.3s;
      }
        main.gallery picture img {
            display: block;
        }
        main.gallery picture img.in {
          animation: img-come-in 1s;
      }
      
      @keyframes img-come-in {
          from {
              transform: scale(0.9);
              opacity: 0;
          }
          to {
              transform: scale(1);
              opacity: 1;
          }
        }
        .last-visit {
          align-content: center;
          justify-content: center;
          grid-column: 1/5;
           grid-row: 3;
           display: flex;
           flex-wrap: wrap;
          padding-bottom: 3em;
        }
        form {
          padding: 1rem 0;
        }
        fieldset {
          border-radius: 5px;
          margin-bottom: 1.25rem;
          grid-column: 1;
          max-width: 450px;
      }
      fieldset legend {
          padding: 0.25rem;
      }
        form label {
          font-size: 0.8em;
      }
      form label, form div {
        margin-top: 1rem;
        padding-bottom: 0.3rem;
    }
    form label span {
      color: #ffa971;
  }
    div label {
      margin-top: 0;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    form label, form input, form select, form textarea {
      display: block;
      width: 100%;
  }
  form input {
    margin-top: 5px;
    width: calc(100% - 0.75rem * 2);
    padding: 0.75rem;
}
form input, form select, form textarea {
  background-color: #eeeeee;
  border: solid 1px;
  border-radius: 4px;
}
form input[type="submit"] {
  background-color:#ffa971;
  color: #2c497f;
  width: 100%;
  margin-top: 10px;
}
form input[type="submit"]:hover {
  background-color: #ffe57e;
}
form textarea {
  width: calc(100% - 5px);
  height: 4em;
  margin-top: 5px;
}
div p {
  color: #2c497f;
}
.membership {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.minfo {
  grid-column: 2/3;
  color: #2c497f
}
.directory header {
  background-color:#2c497f;
  color: #5bc0be;
  margin-top: 10px;
  text-align: center;
}
#gridBtn {
  border: none;
  background-color: transparent;
 padding: 5px;
}
#listBtn {
  border: none;
  background-color: transparent;
 padding: 5px;
}

#gridBtn:active {
  transform: translateY(1px);
}
#listBtn:active {
  transform: translateY(1px);
}

#gridBtn span:nth-child(1) {display: block;}
#gridBtn span:nth-child(2) {display: none;}

#listBtn.active span:nth-child(1) {display: none;}
#listBtn.active span:nth-child(2) {display: block;}

#cards {
  text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
#cards.active {
  display: block;
}
#cards section {
  padding: 0.35rem;
  background-color: #2c497f;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
#cards h2 {
  color: #5bc0be;
}
#cards section img {
  max-width: 7em;
  padding-top: 10px;
  width: 50%;
}

#cards section span:nth-child(2) {
  display: none;
}

#cards section a:nth-child(5) {
  color:#5bc0be;
}
#cards.active section {
text-align: left;
}

#cards.active section:nth-child(odd) {
  background-color: #4363a0;
}

#cards.active section img {
  display: none;
}

#cards.active section span:nth-child(2) {
  display: block;
  font-size: 1.2rem;
  margin-top: 0;
}
section.contact-info {
  grid-template-columns: 1fr;
}
section.contact-info iframe {
  width: 100%;
  height: 300px;
  grid-column: 1;
  grid-row: span 1;
  grid-gap: 10px;
  margin-top: 1em;
}
section.contact-info h2 {
  margin-top: 1rem;
}
section.contact-info ul li {
  text-align: left;
  margin-bottom: 15px;
  list-style-type: none;
}
section.contact-info h2,
section.contact-info .socialMedia {
  text-align: left;
  margin-bottom: 1em;
}
.socialMedia {
  margin-left: 2.25em;
}
